# Arithmetic

In [1]:
5/2

2.5

In [2]:
5//2

2

# Functions

In [3]:
def double(x):
    return x*2

In [4]:
def apply_to_one(f):
    return f(1)

In [5]:
my_double = double
x = apply_to_one(my_double)
x

2

In [6]:
y = apply_to_one(lambda x: x + 4)
y

5

In [7]:
def my_print(message="my default message"):
    print (message)

In [8]:
my_print("hello")

hello

In [9]:
my_print()

my default message

In [10]:
def substract(a=0,b=0):
    return a - b

In [11]:
substract(10,5)

5

In [12]:
substract(0,5)

-5

In [13]:
substract(b=5)

-5

# Strings

In [14]:
not_tab_string = r"\t"
len(not_tab_string)

2

# Exceptions

In [15]:
try:
    print (0/0)
except ZeroDivisionError:
    print ("cannot divide by zero")

cannot divide by zero

# Lists

In [16]:
x = [1,2,3]
x.extend([4,5,6])
x

[1, 2, 3, 4, 5, 6]

In [17]:
x.append(0)
x

[1, 2, 3, 4, 5, 6, 0]

In [18]:
x,y = [1,2]

In [19]:
_,y = [1,2]

# Tuples

In [20]:
my_tuple = (1,2)
other_tuple = 3,4

In [21]:
def sum_and_product(x,y):
    return (x + y),(x * y)

In [22]:
sp = sum_and_product(2,3)
s,p = sum_and_product(5,10)
s,p

(15, 50)

In [23]:
x,y = 1,2
x,y = y,x

# Dictionaries

In [24]:
empty_dict = {}
grades = {"Joel":80, "Tim":95}

In [25]:
joels_grade = grades.get("Joel",0)
joels_grade

80

In [26]:
kates_grade = grades.get("Kate",0)
kates_grade

0

In [27]:

word_counts = {}
document = "Fogiveness is better than permission"
for letter in document:
    if letter in word_counts:
        word_counts[letter] += 1
    else:
        word_counts[letter] = 1
        
word_counts

{' ': 4,
 'F': 1,
 'a': 1,
 'b': 1,
 'e': 5,
 'g': 1,
 'h': 1,
 'i': 4,
 'm': 1,
 'n': 3,
 'o': 2,
 'p': 1,
 'r': 2,
 's': 5,
 't': 3,
 'v': 1}

In [28]:
for letter in document:
    try:
        word_counts[letter] += 1
    except KeyError:
        word_counts[letter] = 1

In [29]:
for letter in document:
    previous_count = word_counts.get(letter,0)
    word_counts[letter] = previous_count

## defaultdict

In [30]:
from collections import defaultdict

letter_count = defaultdict(int) # default value will be 0
for letter in document:
    letter_count[letter] += 1
letter_count

defaultdict(int,
            {' ': 4,
             'F': 1,
             'a': 1,
             'b': 1,
             'e': 5,
             'g': 1,
             'h': 1,
             'i': 4,
             'm': 1,
             'n': 3,
             'o': 2,
             'p': 1,
             'r': 2,
             's': 5,
             't': 3,
             'v': 1})

In [31]:
dd_list = defaultdict(list)
dd_list[2].append(1)
dd_list

defaultdict(list, {2: [1]})

In [32]:
dd_dict = defaultdict(dict)
dd_dict["Joel"]["City"] = "Seattle"
dd_dict

defaultdict(dict, {'Joel': {'City': 'Seattle'}})

In [33]:
dd_pair = defaultdict(lambda: [0,0])
dd_pair["X"][0] = 1
dd_pair

defaultdict(<function __main__.<lambda>>, {'X': [1, 0]})

## counter

In [34]:
from collections import Counter

c = Counter([0,1,2,0])
c

Counter({0: 2, 1: 1, 2: 1})

In [35]:
document

'Fogiveness is better than permission'

In [36]:
letter_counts = Counter(document)
for letter, count in letter_counts.most_common(5):
    print (letter, count)

e 5
s 5
i 4
  4
n 3

## Sets

In [37]:
s = set()
s.add(1)
s.add(2)
s.add(3)
s

{1, 2, 3}

In [38]:
x = len(s)
x

3

In [39]:
2 in s

True

In [40]:
stopwords_list = ["a","an","at","an"]
"zip" in stopwords_list

False

In [41]:
stopwords_set = set(stopwords_list)
"zip" in stopwords_list #very fast to check

False

In [42]:
len(stopwords_set) #to find distinct values

3

# Control Flow

In [43]:
parity = "even" if x%2==0 else "odd"

In [44]:
for x in range(10):
    if x == 3:
        continue #go immediately to the next iteration
    if x == 5:
        break #quit the loop entirely
    print (x)

0
1
2
4

# Truthiness

In [45]:
False

False

In [46]:
s = "some string"
if s:
    first_char = s[0]
else:
    first_char = ""
    
first_char

's'

In [47]:
s = ""
first_char = s and s[0] # and returns its second value when first is truthy, the first value when its not
first_char

''

In [48]:
x = None
safe_x = x or 0 # if x is either a number or possible None
safe_x

0

In [49]:
all([True, 1, {3}]) # all takes a list and returns True when every element is truthy

True

In [50]:
any([True, 1, {}]) # returns True when at least one element is truthy

True

# Sorting

In [51]:
word_counts

{' ': 8,
 'F': 2,
 'a': 2,
 'b': 2,
 'e': 10,
 'g': 2,
 'h': 2,
 'i': 8,
 'm': 2,
 'n': 6,
 'o': 4,
 'p': 2,
 'r': 4,
 's': 10,
 't': 6,
 'v': 2}

In [52]:
word_counts.items()

wc = sorted(word_counts.items(), key = lambda x: x[1], reverse = True)
wc

[('e', 10),
 ('s', 10),
 ('i', 8),
 (' ', 8),
 ('n', 6),
 ('t', 6),
 ('o', 4),
 ('r', 4),
 ('F', 2),
 ('g', 2),
 ('v', 2),
 ('b', 2),
 ('h', 2),
 ('a', 2),
 ('p', 2),
 ('m', 2)]

## List Comprehensions

In [53]:
even_numbers = [x for x in range(5) if x % 2==0]
even_numbers

[0, 2, 4]

In [54]:
square_dict = { x : x * x for x in range(5)}
square_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [55]:
square_set = { x*x for x in [1 ,-1]}
square_set

{1}

In [56]:
zeroes = [0 for _ in even_numbers]
zeroes

[0, 0, 0]

In [57]:
patrs = [(x,y) for x in range(10) for y in range(10)]
patrs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [58]:
increasing_pairs = [(x,y) for x in range(10) for y in range(x+1,10)]
increasing_pairs

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]

## Generators and Iterators

In [59]:
def lazy_range(n):
    i = 0
    while i < n:
        yield i
        i += 1
        
g = lazy_range(10)
next(g)

0

In [60]:
next(g)

1

In [61]:
for i in lazy_range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Python comes with a lazy_range function called **xrange**, and in Python3 **range** itself is lazy.
This means we could even create an infinite sequence.

In [62]:
def natural_numbers():
    n = 1
    while True:
        yield n
        n += 1
        
g = natural_numbers()
g

The flip side of laziness is that we can only iterate through a genarator once. If we need to iterate through something multiple times, we will need to either recreate the generator each time or use a list.

A second way to create generators is by using **for** comprehensions wrapped in parentheses.

In [63]:
lazy_even_below_20 = (i for i in range(20) if i %2 == 0)
lazy_even_below_20

Every dict has an **items( )** method that returns a list of its key-value pairs. More frequently we'll use the **iteritems( )** method, which lazily yields the key-value pairs one at a time as we iterate over it.

## Randomness

In [64]:
import random

In [65]:
four_uniform_randoms = [random.random() for x in range(4)]
four_uniform_randoms

[0.9647857835264454,
 0.7927480356634486,
 0.6770153012455764,
 0.7955626172535903]

In [66]:
random.seed(10)
random.random()

0.5714025946899135

In [67]:
random.seed(10)
random.random()

0.5714025946899135

In [68]:
random.randrange(10)

6

In [69]:
random.randrange(7,10)

8

In [70]:
up_to_ten = [x for x in range(10)]
random.shuffle(up_to_ten)
up_to_ten

[4, 5, 8, 1, 2, 6, 7, 3, 0, 9]

If we need to randomly pick one element from a list we can use **random.choice()**

In [71]:
my_best_friend = random.choice(["Alice","Bob","Charlie"])
my_best_friend

'Bob'

If we need randomly choose a sample of elements without replacement (with no duplicates), we can use **random.sample() **

In [72]:
lottery_numbers = range(60)
winning_numbers = random.sample(lottery_numbers,6)
winning_numbers

[4, 15, 47, 23, 2, 26]

To choose a sample of elements with replacement (allowing duplicates), we can just make multiple calls to **random.choice()**

In [73]:
four_with_replacement = [random.choice(range(10)) for x in range(4)]
four_with_replacement

[2, 9, 5, 6]

## Regular Expressions

In [74]:
import re
all([not re.match("a","cat"),re.search("a","cat"), not re.search("c","dog"), 3==len(re.split("[ab]","carbs")),"R-D-"==re.sub("[0-9]","-","R2D2")])

True

## Object-Oriented Programming

In [75]:
class Sett:
    def __init__(self, values = None):
        self.dict = {}
        if values is not None:
            for value in values:
                self.add(value)
    def __repr__(self):
        return "Set: " + str(self.dict.keys())
    
    def add(self,value):
        self.dict[value] = True
    
    def contains(self,value):
        return value in self.dict
    
    def remove(self,value):
        del self.dict[value]

In [76]:
s = Sett([1,2,3,3])
s.add(4)
s.contains(4)

True

In [77]:
s.remove(3)
s.contains(3)

False

## Functional Tools

In [78]:
def exp(base,power):
    return base ** power

In [79]:
def two_to_the(power):
    return exp(2,power)

In [80]:
from functools import partial
two_to_the = partial(exp,2) # is now a function of one variable
two_to_the(3)

8

In [81]:
square_of = partial(exp,power=2)
square_of(3)

9

**map, reduce,** and **filter** provide functional alternatives to list comprehension but in Python3 reduce was removed and map and filter returns iterators

In [82]:
def double(x):
    return 2 * x

In [83]:
xs = [1,2,3,4]
twice_xs = [double(x) for x in xs]
twice_xs

[2, 4, 6, 8]

In [84]:
twice_xs = map(double,xs)
twice_xs

In [86]:
list_doubler = partial(map,double) #*function* that doubles a list
twice_xs = list_doubler(xs)
twice_xs

we can use **map** with multiple-argument functions if we provide multiple lists

In [87]:
def multiply(x,y): return x * y

In [89]:
products = map(multiply, [1,2],[4,5]) # [1 * 4,2 * 5] = [4,10]
products

**filter()**

In [90]:
def is_even(x):
    """True if x is even, False if x is odd"""
    return x % 2 == 0

In [93]:
x_evens = [x for x in xs if is_even(x)]
x_evens

[2, 4]

In [95]:
x_evens = filter(is_even,xs)
x_evens

In [97]:
list_evener = partial(filter,is_even)
x_evens = list_evener(xs)
x_evens

**reduce()** - removed in Python3

In [100]:
#x_product = reduce(multiply, xs) # = 1 * 2 * 3 * 4 = 24
#list_product = partial(reduce,multiply)
#x_product = list_product(xs)

### enumerate

To iterate over a lit and use both its elements and their indexes

In [104]:
days = ["Mon","Tue","Wen","Thu","Fri","Sat","Sun"]

#not Pythonic
for i in range(len(days)):
    day = days[i]
    print(i,day)

0 Mon
1 Tue
2 Wen
3 Thu
4 Fri
5 Sat
6 Sun

In [105]:
#not Pythonic
i = 0
for day in days:
    print(i,day)
    i += 1

0 Mon
1 Tue
2 Wen
3 Thu
4 Fri
5 Sat
6 Sun

The Pythonic solution is **enumerate**, which produces tuple (index, element)

In [106]:
for i,day in enumerate(days):
    print(i,day)

0 Mon
1 Tue
2 Wen
3 Thu
4 Fri
5 Sat
6 Sun

In [107]:
for i,_ in enumerate(days):
    print(i)

0
1
2
3
4
5
6

### zip and Argument Unpacking

**zip()** transforms multiple lists into a single list of tuples of corresponding elements

In [112]:
list1 = ['a','b','c']
list2 = [1,2,3]

pairs = list(zip(list1,list2))
pairs

[('a', 1), ('b', 2), ('c', 3)]

In [114]:
letters,numbers = zip(*pairs)
letters

('a', 'b', 'c')

In [115]:
numbers

(1, 2, 3)

In [118]:
list(zip(('a', 1), ('b', 2), ('c', 3)))

[('a', 'b', 'c'), (1, 2, 3)]

we can use argument unpacking with any function

In [119]:
def add(a,b): return a + b

In [122]:
add(1,2)

3

In [123]:
add([1,2])

TypeError: add() missing 1 required positional argument: 'b'

In [124]:
add(*[1,2])

3

### args and kwargs

In [125]:
def doubler(f):
    def g(x):
        return 2 * f(x)
    return g

In [128]:
def f1(x): return x + 1

In [129]:
g = doubler(f1)
g(3)  #8 (3+1) * 2

8

it breaks down with functions that take more than a single argument

In [130]:
def f2(x,y): return x + y

In [131]:
g = doubler(f2)

In [132]:
g(1,2)

TypeError: g() takes 1 positional argument but 2 were given

we need a way to specify a function that takes arbitrary arguments, we can do this with argument unpacking and a little bit of magic

In [134]:
def magic(*args,**kwargs):
    print("unnamed args:", args)
    print("keyword args:", kwargs)

In [135]:
magic(1,2, key ="word",key2="word2")

unnamed args: (1, 2)
keyword args: {'key': 'word', 'key2': 'word2'}

In [136]:
def other_way_magic(x,y,z): return x + y + z

In [137]:
x_y_list = [1,2]

In [138]:
z_dict = {"z" : 3}

In [139]:
other_way_magic(*x_y_list, **z_dict)

6

In [140]:
def doubler_correct(f):
    """works no matter what kind of inputs f expects"""
    def g(*args,**kwargs):
        return 2 * f (*args, **kwargs)
    return g

In [141]:
g = doubler_correct(f2)
g(1,2)

6